@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --luffy: #59ce8f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--luffy);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-body {
  padding: 35px 40px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.form-title {
  font-size: 2rem;

  margin: 10px 0;
  padding: 2px;
  color: white;
}
.form-input {
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.3rem 0.7rem;
  border-bottom: 1px solid white;
}
.form-input i {
  color: white;
  text-align: center;
  font-size: 1.1rem;
  line-height: 30px;
  margin: 5px 10px;
}
.form-pass {
  display: grid;
  grid-template-columns: 15% 75% 10%;
}

.form-input input {
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  line-height: 1;
  font-size: 1.3rem;
  color: white;
}
.form-input input::placeholder {
  font-weight: 500;
  color: white;
}
.btn {
  width: 150px;
  height: 49px;
  outline: none;
  border: none;
  /* background-color: black; */
  border-radius: 49px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  /* color: white; */
  color: var(--luffy);
}
.acc {
  margin: 10px 0;
  margin-bottom: 0;
  color: white;
  font: 1.1rem;
}
.acc a {
  text-decoration: none;
  color: white;
  padding-left: 3px;
}
.acc a:hover {
  border-bottom: 3px solid white;
}
.btn:hover {
  color: #08f476;
  cursor: pointer;
  background-color: black;
}

.message {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  bottom: 2%;
  font-size: 0.5rem;
}
.message-body {
  background-color: white;
  margin: 5px 0;
  padding: 7px;
  border: 1px solid white;
  border-radius: 10px;
}
.message-text {
  color: var(--luffy);
}

/* Mobile users */
@media (max-width: 450px) {
  .container {
    background-color: var(--luffy);
    width: 100vw;
    height: 100vh;
  }
  .container-body {
    width: 100%;
    height: 100%;
  }
  .form-title {
    font-size: 1rem;
  }
  .form-input input,
  .btn,
  .acc,
  .form-input i {
    font-size: 0.7rem;
  }
  .form-input input {
    margin: 5px 0;
  }

  .message.active {
    font-size: 0.2rem;
  }
  .message-body {
    margin: 3px 0;
    padding: 4px;
    border: 1px solid white;
    border-radius: 5px;
  }
}
